@tailwind base;
@tailwind components;
@tailwind utilities;

.gold-gradient-animate {
  background: linear-gradient(90deg, #d4af37, #ffd700, #b8860b);
  background-size: 200% 200%;
  transition: background-position 0.5s;
}
.gold-gradient-animate:hover {
  animation: goldMove 2s linear infinite;
}
@keyframes goldMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
